@page "/livenav"
@using System.Collections.Concurrent
@using System.Text.Json
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.Extensions.DependencyInjection
@using Trakx.Common.Interfaces
@using Trakx.Common.Pricing
@using Trakx.MarketData.Server.Hubs
@inject NavigationManager NavigationManager
@inject IIndiceDataProvider IndiceDataProvider
@implements IDisposable
@implements Trakx.MarketData.Server.Hubs.INavHubClient

<h1>Live Indice NAV</h1>

<input id="symbol" @onchange="ChangeSymbol" />
<button class="btn btn-primary" id="addSymbol" @onclick="AddSymbol">Add</button>
<button class="btn btn-primary" id="removeSymbol" @onclick="RemoveCurrentSymbol">Remove</button>
<br />

<p>NavHub Uri: @_liveNavUri</p>
<br />

<p>@_message</p>
<br />

<table class="table small">
    @if (_updatesBySymbol.Any())
    {
        <tr>
            <td>Updated</td>
            <td>Symbol</td>
            <td>NAV</td>
        </tr>
    }
    @foreach (var update in _updatesBySymbol.Values)
    {
        <tr>
            <td>@update.TimeStamp.ToString("yyyyMMdd - hh:mm:ss")</td>
            <td>@update.Symbol</td>
            <td>@update.Value.ToString("F4")</td>
        </tr>
    }
</table>
<br />

@code {
    private Uri _liveNavUri;
    private HubConnection _connection;

    private string _symbol = string.Empty;
    private string _message = "Register for updates by adding and indice symbol above";

    private readonly ConcurrentDictionary<string, NavUpdate> _updatesBySymbol = new ConcurrentDictionary<string, NavUpdate>();
    private readonly Guid _clientId = Guid.NewGuid();

    public async Task AddSymbol()
    {
        var addSymbol = _symbol.ToLowerInvariant();

        try
        {
            await _connection.InvokeAsync<bool>(nameof(NavHub.RegisterClientToNavUpdates),
                _clientId, addSymbol).ConfigureAwait(false);
        }
        catch (Exception e)
        {
            _message = $"Failed to add symbol {addSymbol}";
        }

        _updatesBySymbol.TryAdd(addSymbol, new NavUpdate(addSymbol, 0));
    }

    public async Task RemoveCurrentSymbol()
    {
        var deleteSymbol = _symbol.ToLowerInvariant();

        await RemoveSymbol(deleteSymbol);
    }

    private async Task RemoveSymbol(string deleteMe)
    {
        await _connection.InvokeAsync<bool>(nameof(NavHub.DeregisterClientFromNavUpdates),
            _clientId, deleteMe).ConfigureAwait(false);
        _updatesBySymbol.TryRemove(_symbol, out var _);
    }

    public void ChangeSymbol(ChangeEventArgs change)
    {
        _symbol = change.Value?.ToString() ?? string.Empty;
    }

    public async Task ReceiveNavUpdate(NavUpdate update)
    {
        try
        {
            if (!_updatesBySymbol.ContainsKey(update.Symbol)) return;
            var updateResult = _updatesBySymbol.AddOrUpdate(update.Symbol, _ => update,
                (s, oldValue) => (oldValue.TimeStamp < update.TimeStamp) ? update : oldValue);
            if (updateResult == update) await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            _message = $"Failed to process NavUpdate for {JsonSerializer.Serialize(update)}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (!Uri.TryCreate(new Uri(NavigationManager.BaseUri), "/hubs/nav", out var liveNavUri)) return;
        _liveNavUri = liveNavUri;
        _connection = new HubConnectionBuilder()
            .WithUrl(_liveNavUri)
            .AddMessagePackProtocol()
            .Build();

        await _connection.StartAsync();
        _connection.On<NavUpdate>(nameof(INavHubClient.ReceiveNavUpdate), ReceiveNavUpdate);
    }

    public void Dispose()
    {
        foreach (var symbol in _updatesBySymbol.Keys)
        {
            RemoveSymbol(symbol).GetAwaiter().GetResult();
        }
    }

}